<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reward</title>
</head>
<body>
<h3>Sponsor</h3>
<span>
If you think the quality of the tutorials on this website is good, and you feel that you have gained a lot after reading it. The expected salary increase will exceed 30%. You may as well sponsor me for a small amount, so that I have the motivation to continue to write high-quality tutorials.</span>
<div><img src={{ url_for('static',filename='Image/donation.jpg') }}
    width="160" height="160" />
</div>

</body>
</html>